@tailwind base;
@tailwind components;
@tailwind utilities;

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-[#F5F7F8] scroll-smooth
}

html {
  @apply scroll-smooth
}